.main{
    display: flex;
    width: 100%;
    height: calc(100vh - 110px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main h3{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace
}

.main p{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #777;
    font-family:'Courier New', Courier, monospace
}